* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --primary:rgb(9, 12, 49);
    --secundary:rgb(21, 23, 60);
    --tercery:rgb(230, 57, 74);
    --four:rgb(240, 248, 255);
}

body {
    min-height: 100vh;
    background-color: var(--primary) ;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: var(--secundary);
    color: var(--four);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: .5rem;
}


.pantalla {
    grid-column:  1 / -1;
    background-color: var(--primary);
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn {
    
}